.dropdown {
  position: absolute;
  top: 52px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}