.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  display: flex;
  justify-content: center;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  max-width: var(--content-max-width);
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}